.auth{
  display: flex;

  //height: 100%;
  &__text{
    font-weight: 500;
    font-size: 18px;
    height: inherit;
    display: flex;
    align-items: center;

    &_reg{
      color: var(--primary-color);
      background-color: var(--secondary-color);
      border-radius: 17px;
      margin-left: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }
}

.person {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    margin-right: 10px;
  }

  &__nick {
    margin-right: 10px;
  }
  svg {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}